<%= turbo_stream_from "setlists" %>

<%= turbo_frame_tag "setlists_form" do %>
  <%= render "setlists/form", setlist: @setlist %>
<% end %>

<table class="table p-4 bg-white shadow rounded-lg">
  <thead>
    <tr>
      <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-gray-900">
        <%= turbo_frame_tag "setlists" do %>
          <%= render @setlists %>
        <% end %>
      </th>
    </tr>
  </thead>
</table>
