<p id="notice"><%= notice %></p>

<%= turbo_frame_tag dom_id(@setlist) do %>
  <%= render @setlist %>
<% end %>

<%= link_to 'Edit', edit_setlist_path(@setlist) %> |
<%= link_to 'Back', setlists_path %>
